.nav {
  display: block;
  height: 60px;
  background-color: #fff;
  border-bottom: 0.3px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
  width: 99vw;
}

.nav h2 {
  padding: 15px;
}